cloudbeat:
  # Defines how often an event is sent to the output
  type: cloudbeat/cis_aws # cloudbeat/cis_eks in case of EKS configuration
  streams:
    # Defines how often an event is sent to the output
    period: 4h
    fetchers:
      - name: aws-s3

#    # EKS Fetchers configuration
#      - name: kube-api
#      - name: process
#        directory: "/hostfs"
#        processes:
#          kubelet:
#            config-file-arguments:
#              - config
#      - name: aws-ecr
#      - name: aws-elb
#      - name: file-system
#        patterns: [
#          "/hostfs/etc/kubernetes/kubelet/kubelet-config.json",
#          "/hostfs/var/lib/kubelet/kubeconfig",
#        ]
    evaluator:
      decision_logs: false
